h1 {
  color: red;
  font-size: 50px;
  padding: 10px;
  text-align: left;
  margin: auto;

}

body {
  background-color: #aaaaff;
  background-size: cover;
}

.img {
  overflow: hidden;
}

.info {
  float: right;
  overflow: hidden;
  padding: 0;
  margin: 0;

}

ul.info {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li.info {
    float: left;
    margin-top: 0;
    font-family: arial, sans-serif;
    padding: 5px;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: black;
    text-align: center;
    border: white;
    padding: 14px 16px;
    text-decoration: none;
}

@keyframes slider {
  0%, {
    left: 0;
  }

  20% {
    left: 0;
  }

  25%, {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50%, {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75%, {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }

}

#slider img {
  width: 20%;
  margin: 0% auto;
  float: left;
  position: relative;
}

#slider {
  overflow: hidden;
  position: relative;
  width: 500%;
  margin: 0%;
  font-size: 0%;
  animation: 15s slider infinite;
  display: inline-block;
}

.container {
  display: inline-block;
  width: 90%%;
  margin: 0 auto;
}

.pix {
  display: inline-block;
  box-sizing: border-box;
  width: 80%;
  margin: 50px auto;
}

ul.webdev {
  margin: 0 8%;
  padding: 10px;
  display: inline-block;
  box-sizing: border-box;
}

li.webdev {
  color: black;
  font-weight: bold;
  font-family: arial serif;
  position: relative;
  padding-left: 40px;
  box-sizing: border-box;
  list-style: none;
  text-align: -webkit-match-parent;
  display: list-item;
}

ul.comrep {
  margin: 0 2%;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
}

li.comrep {
  color: black;
  font-weight: bold;
  font-family: arial serif;
  position: relative;
  padding-left: 40px;
  
  box-sizing: border-box;
  list-style: none;
  text-align: -webkit-match-parent;
  display: list-item;
}

ul.netrep {
  margin-left: 6%;
  margin-right: auto;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
}

li.netrep {
  color: black;
  font-weight: bold;
  font-family: arial serif;
  position: relative;
  padding-left: 40px;
  
  box-sizing: border-box;
  list-style: none;
  text-align: -webkit-match-parent;
  display: list-item;
}

.figure {
  width: 80%;
  margin: 50px auto;
}

figure {
  display: inline-block;
  position: relative;
  margin-top: 7%;
  padding-top: 10px;
  background-color: grey;
}

figcaption {
  text-decoration-color: blue;
  color: solid blue;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 10px;
  text-align: center;
}

footer {
  font-style: italic;
  margin: 0;
  text-align: center;
  color: red;
}
