h1 {
  color: red;
  font-size: 50px;
  padding: 10px;
  text-align: left;
  margin: auto;

}

.caption {
  float: right;
  padding: 0;
  margin: 0;

}

body {
  background-color: skyblue;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;

}

li {
    float: left;
    margin-top: 0;
    font-family: arial, sans-serif;
    padding: 5px;
    border-right: 1px solid #bbb;

}

li a {
    display: block;
    color: white;
    text-align: center;
    border: white;
    padding: 14px 16px;
    text-decoration: none;
}

h2 {
  text-decoration: underline;
  text-align: left;
  font-size: 20px;
  font-style: italic;
  color: teal;

}

header {
  float: left;
}

p {
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }

}

#slider {
  overflow: hidden;
}

#slider figure image {
  max-width: 100%;
  height: auto;
  border: 1px solid red;
  float: left;
  display: inline-block;
}

#slider figure {
  position: relative;
  width: 1650px;
  height: 290px;
  margin: 0%;
  left: 0%;
  text-align: left;
  font-size: 0%;
  animation: 20s slider infinite;
}

.footer {
  background-color: grey;
  height: 50px;
  font-style: italic;

  }
